/* Titre et dispositions des articles */
.responsive-wrapper {
    width: 95%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: center;
}

.page-title h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    position: relative;
}

.page-title h1:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
    background-color: currentcolor;
}

.magazine-layout {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 2rem;
}

.magazine-column {
    padding: 0 1.5rem;
    grid-column: span 5;
}
/* Image des articles PRESSE */
img {
    /* display: block; */
    max-width: 100%;
}

/* ARTICLES de presse  */
.article+.article {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
}

.article-img+* {
    margin-top: 1rem;
}

.article-link {
    color: inherit;
    text-decoration: none;
}

.article-title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    line-height: 1.25;
    color: #000;
}

.article-title--large {
    font-size: 2rem;
}

.article-title--large+* {
    margin-top: 1.5rem;
}

.article-title--medium {
    font-size: 1.5rem;
}

.article-title--medium+* {
    margin-top: 0.75rem;
}

.article-title--small {
    font-size: 1.25rem;
}

.article-title--small+* {
    margin-top: 0.75rem;
}

.article-link {
    color: inherit;
}

.mark {
    background-color: #f8e177;
}

.mark--secondary {
    background-color: #c2dddf;
}

.mark--tertiary {
    background-color: #f8e177;
}

.article-excerpt,
.article-creditation {
    font-size: 1.125rem;
    line-height: 1.4;
}

.article-excerpt p+p,
.article-creditation p+p {
    margin-top: 1.5rem;
}

.article-author {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.article-author-img {
    width: 3rem;
    height: 3rem;
    border-radius: 12px;
    background-color: #323232;
    overflow: hidden;
    background-blend-mode: multiply;
}

.article-author-img+.article-author-info {
    margin-left: 0.5rem;
}

.article-author-info {
    line-height: 1.375;
}

.article-author-info dl {
    margin-top: 0.25em;
}

.article-author-info dt {
    font-weight: 600;
}

.article-author-info dd {
    font-size: 0.875em;
}

.article-category {
    font-weight: 500;
    margin-bottom: 1rem;
    display: block;
}

.article-category svg {
    max-width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.article-podcast-player {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1.25rem;
}

/* Partie Podcast */
.podcast-play-button {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 12px;
    border: 0;
    background-color: #000;
    margin-right: 0.5rem;
}

.podcast-play-button svg {
    max-width: 1rem;
    max-height: 1rem;
    fill: #fff;
}
.podcast-progression {
    flex: 1;
    height: 8px;
    border-radius: 99em;
    background-color: #d9d4cd;
    background-image: linear-gradient(to right,30%, #d9d4cd 30%, #d9d4cd 100%);
}

.podcast-time {
    font-weight: 500;
    font-size: 1.125rem;
    margin-left: 0.5rem;
}

:focus {
    outline: 0;
}

/* Conteneur */
#conteneur {
    width: 100%;
    height: auto;
    background-color: none;
}

/* Image HAUT DE PAGE */

#separation_rs_news {
    width: 100%;
    height: 40vw;
    background-color: none;
    background-image: url(/img/cath.jpeg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Partie ACTUALITES */
#bloc_news {
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

#bloc_news h1 {
    width: 95%;
    background-color: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(176, 133, 78, 1);
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.2vw;
    border-bottom: 1px solid rgba(176, 133, 78, 1);
}

#conteneur_news {
    width: 100%;
    height: auto;
    background-color: none;
}

.emplacement_images_news {
    position: absolute;
    width: 100%;
    height: 20vw;
    background-color: none;
}

.liens_images_news {
    position: absolute;
    width: 100%;
    height: 20vw;
    background-color: none;
}

.liens_images_news:hover {
    background-color: rgba(36, 43, 50, 0.5);
}

.images_news {
    width: 100%;
    height: 20vw;
}

#emplacement_text_news {
    width: 100%;
    height: auto;
    background-color: none;
    margin-top: 70%;
    text-align: center;
}

.titres_news {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid rgba(107, 63, 66, 1);
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: none;
}

.liens_titres_news {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(176, 133, 78, 1);
    font-size: 1.5vw;
    font-weight: 400;
}

.liens_titres_news:hover {
    color: rgba(107, 63, 66, 1);
}

.body_news {
    width: 100%;
    height: auto;
    background-color: none;
    text-align: justify;
    color: rgba(41, 31, 20, 1);
    font-size: 1.4vw;
    font-weight: 200;
    line-height: 2.5vw;
}

/* Section News  */
#news_une {
    width: 29%;
    height: auto;
    background-color: none;
    position: absolute;
    margin-left: 2%;
    margin-top: 5%;
    text-align: justify;
}

#news_deux {
    width: 29%;
    height: auto;
    background-color: none;
    position: absolute;
    margin-left: 34.5%;
    margin-top: 5%;
    text-align: justify;
}

#news_trois {
    width: 29.3%;
    height: auto;
    background-color: none;
    position: absolute;
    margin-left: 67%;
    margin-top: 5%;
    text-align: justify;
}

#separateur {
    padding-top: 80px;
    padding-bottom: 2%;
}

/* Séparation Evenements - Vidéos */
#separation_news_videos {
    width: 102%;
    height: 40vw;
}

/* Video pour se rendre à la Page Evenement */
#conteneur_videos {
    width: 95%;
    height: auto;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
}

.videos {
    background-color: none;
    width: 100%;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.titres_videos {
    color: rgba(41, 31, 20, 1);
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 500;
    font-style: normal;
    border-bottom: 1px solid #E4B344;
    padding-bottom: 5%;
}

#video_1 {
    position: absolute;
    background-color: none;
    width: 42%;
    height: auto;
    margin-top: 3%;
    margin-left: 3%;
}

/* Séparation Vidéos - About */
#separation_videos_about {
    width: 102%;
    height: 40vw;
    background-color: none;
    background-image: url(/img/eiffel-tower.webp);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Responsive style */
@media (max-width: 600px) {
    #conteneur_news div {
        display: block;
        max-width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }

    div.image_logo {
        max-width: 30%;
    }
}

/* Responsive Partie Article */
@media (min-width: 1200px) {
    .magazine-column {
        grid-column: span 1;
        border-right: 1px solid #ccc;
    }

    .magazine-column:last-child {
        border-right: none;
    }
}

@media (min-width: 1200px) {
    .magazine-column:nth-child(2) {
        grid-column: span 2;
    }
}