/* Nos Avis */
.image-header {
    background-image: url(/img/beautiful.webp);
    height: 550px;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
/* ETOILES */
.fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}

/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
    color: #ffdc0f;
}

/* Le parent global '.rating' positionne le groupe des étoiles */
.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Le groupe '.stars' positionne les étoiles
les unes à côté des autres sans espacements. */
.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
}

.stars:hover .fa-star {
    color: #ffdc0f;
}
.stars .fa-star:hover~.fa-star {
    color: #ffdc0f;
}

/* LES AVIS */
#testimonials {
    padding: 5rem 0;
  }
  
  .testimonial-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: #555;
  }
  
  .testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
  }
  
  .testimonial-box .checked {
    color: #ff9529;
  }
  
  .testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #444;
  }
  
  .testimonial-box {
    text-align: center;
    padding: 1rem;
  }
  
  .customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
  }
  /* Form bouton envoyer */
  .button-avis {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
    border: 1px solid;
    border-radius: 50px;
    text-decoration: none;
    background-color: #E4B344;
}
