/* PArt Qui sommes nous */
#titre-corporate {
    margin-top: 150px;
}
.component-contacts-a {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #183456;
    border-radius: 30px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .05em;
}
/* Video Youtube */
.cover-video iframe {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    width: 100vw;
    max-height: 50vh;
}
#part {
    margin-top: 420px;
}
/* Image de separation */
#img_separation {
    width: 100%;
    height: 40vw;
    background-color: none;
    background-image: url(/img/cahtedrale.jpeg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: -1%;
    filter: grayscale(100%);
}
#img_separation:hover {
    filter: grayscale(10%);
}
/* Responsive style */
@media (min-width: 1280px) {
    /* div {
        flex-wrap: wrap;
    } */

    #section-2 img {
        width: 50%;
    }
    #part {
        margin-top: 720px;
    }
}

@media (max-width: 1280px) {
    div {
        flex-wrap: wrap;
    }

    #section-2 img {
        max-width: 100%;
    }

    #corporate h2 {
        width: 100%;
    }

}