/************ FOOTER ************/
footer {
    background-color: #1E1E1E;
    color: white;
    font-size: 14px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer nav ul li {
    display: inline-block;
    margin-right: 10px;
}

/* ICON */
footer .social-links a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.social-links a {
    color: #000101;
    text-decoration: none;
    font-size: 50px;
    /* width: 100%; */
    /* margin-left: 50%; */
}

.social-links a:hover {
    color: #E4B344;
}

.copyright {
    color: #F4F1EB;
    font-size: 12px;
    border: none;
    text-align: center;
    background-color: #1E1E1E;
}

/* Option Langue */
.language-selector {
    text-align: center;
    margin: 20px auto;
}

form.selection {
    display: inline-block;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    padding: 5px 20px;
    margin-bottom: 20px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
