/************ FOOTER ************/
/* *************************** */
/* Global config */
:root {

    --main-color: #E4B344;
    --white-color: #fff;
}
/* html {
    font-size: 15px;
} */
p {
    font-size: 17px;
    line-height: 1.5;

}

h2 {
    font-size: 20px;
    margin: 1rem 0;
    line-height: 1.3;
}

h3 {
    font-size: 17px !important;
}
/* COMMON CLASSES */

.foot-r {
    display: flex;
    align-items: center;
}

/* .col-2 {
    margin-bottom: 5rem;
    flex-basis: 50%;
    min-width: 30rem;
} */

.foot-3 {
    flex-basis: 30%;
    min-width: 25rem;
    margin-bottom: 5rem;
}

/* FOOTER SECTION */
footer {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 7rem 0 4rem;
    position: relative;

}
/* Option Langue */
.language-selector {
    text-align: center;
    margin: 20px auto;
}

form.selection {
    display: inline-block;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    padding: 5px 20px;
    margin-bottom: 20px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
/* Bouton Up */
.back-to-top {
    text-align: center;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: -3rem;
    left: 50%;
    width: 7rem;
    height: 7rem;
    transform: translateX(-50%);
}
.back-to-top i {
    display: block;
    color: var(--white-color);
    font-size: 2rem;
    padding: 2rem;
    animation-name: showsUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.footer__content {
    justify-content: space-between;
    padding: 1.5rem 0;
}
.col-6{
    width: 100% !important;
}

.payment-methods li, .social-icons li{
    display: inline;
    margin: 0 .5rem 0 .5rem;
}

.footer__content a:hover {
    opacity: .5;
}
.copyright {
    color: #5a5959;
}
/* Responsive Style*/
@media screen and (max-width: 900px) {
    p {
        font-size: 17px;
    }
    footer .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 17px;
    }
    .rowfoot {
        flex-direction: column;
    }
    .col-2 {
        padding-right: 0;
    }
    .column-reverse {
        flex-direction: column-reverse;
    }
    /* footer .col-4 {
        margin-bottom: 3rem;
    } */

    .footer__content-about h4 {
        text-align: left;
    }
}
@media (min-width: 576px){
    .container, .container-sm {
        width: 100% !important;
    }

}


/* ANIMATIONS Boutons pour Monter */
@keyframes showsUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}
